<div class="container-fluid">    

    <div class="row justify-content-center sign-up-row">

        <div class="col-4 d-flex flex-column align-items-center">
            <h2 class="title align-self-center">NEPTUNE</h2>
            <h4 class="sub-title align-self-center">Login</h4>
        </div>

        <form [formGroup]="form" class="form-row" novalidate (ngSubmit)="signIn()">

            <div class="col d-flex flex-column align-items-center">
        
                <p class="alert alert-danger align-self-center" *ngIf="!authService.status.valid" > {{ authService.MsgError }} </p>

                <div class="input-group">
                    <input 
                        type="text" 
                        class="form-control" 
                        placeholder="E-mail"
                        formControlName="email">
                </div>
    
                <div class="input-group">
                    <input 
                        type="password" 
                        class="form-control" 
                        placeholder="Senha"
                        formControlName="password">
                </div>
                <p class="forgot-password" routerLink="/forgot-password">Esqueceu a senha?</p>

                <button class="primary-btn form-button" [disabled]="!form.valid" type="submit" >Entrar</button>

            </div>

        </form>

    </div>

</div>