.sign-in-row {
    width: 100%;
}

.sign-in-row > img {
    width: 200px;
}

.container-fluid {
    min-height: 86vh;
}

.title {
    text-align: center;
    color: var(--secondary-text-color);
    margin: 2% 0 0 0;
    font-weight: 300;
    font-size: 150%;
}

.form-control {
    background: var(--secondary-bg-color);
    border-color: var(--secondary-bg-color);
    color: var(--secondary-text-color);
    border-radius: 5px !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--secondary-text-color);
    opacity: 0.5; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--secondary-text-color);
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color:var(--secondary-text-color);
}

input.ng-valid.ng-touched {
    border: 2px solid var(--primary-color);
}

input.ng-invalid.ng-touched {
    border: 2px solid red;
}

.primary-btn {
    border: none;
    margin: 20px 10% 0 10%;
    border-radius: 5px;
    color: var(--secondary-text-color);
    padding: 10px 0;
    transition: 0.5s;
    font-weight: 500;
    cursor: pointer;
    background: var(--primary-color);
}

.primary-btn:hover {
    transition: 0.5s;
    background: var(--secondary-color);
    border-color: var(--secondary-color);
}

.form-row {
    width: 30%;
    margin: 2% 0;
}

.input-group {
    margin: 1% 0;
}

.forgot-password {
    cursor: pointer;
    color: var(--secondary-text-color);
    width: auto;
}

.alert-danger {
    background-color: red;
    border-color: red;
    color: white;
}

@media only screen and (max-width: 1000px) {

    .form-row {
        width: 50%;
    }

}

@media only screen and (max-width: 700px) {

    .form-row {
        width: 65%;
    }

}

@media only screen and (max-width: 500px) {

    .form-row {
        width: 90%;
    }

    .sign-in-row > img {
        width: 200px;
    }

}