<div class="container-fluid">    

    <div class="row justify-content-center align-items-center">

        <div class="row sign-in-row justify-content-center">

            <img src="../../assets/img/neptune.svg" alt="Logo">
            <h2 class="title">Entre na sua conta da NEPTUNE</h2>

        </div>

        <div class="row sign-in-row justify-content-center">

            <form [formGroup]="signInForm" class="row form-row justify-content-center" novalidate (ngSubmit)="signIn()">

                <p class="alert alert-danger" *ngIf="!authService.status.valid" > {{ authService.MsgError }} </p>
    
                <div class="input-group">
                    <input 
                        type="text" 
                        class="form-control" 
                        placeholder="E-mail"
                        formControlName="email">
                </div>
                
                <div class="message-contianer" *ngIf="email.invalid && (email.dirty || email.touched)">
                    <p *ngIf="email.errors.required" class="form-text text-danger">O e-mail é obrigatório.</p>
                </div>
        
                <div class="input-group">
                    <input 
                        type="password" 
                        class="form-control" 
                        placeholder="Senha"
                        formControlName="password">
                </div>
                
                <div class="message-contianer" *ngIf="password.invalid && (password.dirty || password.touched)">
                    <p *ngIf="password.errors.required" class="form-text text-danger">A senha é obrigatória.</p>
                </div>

                <p class="forgot-password align-self-end" routerLink="/forgot-password">Esqueceu a senha?</p>
    
                <div class="row justify-content-center">
                    <button class="primary-btn" [disabled]="!signInForm.valid" type="submit" >Entrar</button>
                </div>

            </form>

        </div>
        
    </div>

</div>