<footer class="bg-light text-center text-lg-start">

	<div class="container p-4">

		<div class="row">

			<div class="col-lg-6 col-md-12 mb-4 mb-md-0 d-flex justify-content-center align-items-center">
				<a class="navbar-brand" href="#">
					<img src="../../../../assets/img/neptune.svg" alt="logo" width="100px">
				</a>
		
				<a class="navbar-brand navbar-brand-name" href="#">NEPTUNE</a>
			</div>

			<div class="col-lg-3 d-flex flex-column justify-content-start align-items-start col-md-6 mb-4 mb-md-0">

				<h5 class="text-uppercase">Links</h5>

				<ul class="list-unstyled mb-0">

					<li>
						<a href="#!" class="text-light">Link 1</a>
					</li>

					<li>
						<a href="#!" class="text-light">Link 2</a>
					</li>

					<li>
						<a href="#!" class="text-light">Link 3</a>
					</li>

					<li>
						<a href="#!" class="text-light">Link 4</a>
					</li>

				</ul>

			</div>

			<div class="col-lg-3 d-flex flex-column justify-content-start align-items-start col-md-6 mb-4 mb-md-0">

				<h5 class="text-uppercase mb-0">Links</h5>

				<ul class="list-unstyled">

					<li>
						<a href="#!" class="text-light">Link 1</a>
					</li>

					<li>
						<a href="#!" class="text-light">Link 2</a>
					</li>

					<li>
						<a href="#!" class="text-light">Link 3</a>
					</li>

					<li>
						<a href="#!" class="text-light">Link 4</a>
					</li>

				</ul>

			</div>

		</div>

	</div>

	<div class="text-center p-3 bg-primary">
		© 2020 Copyright:
		<a class="text-light" href="https://mdbootstrap.com/">neptune.com</a>
	</div>

</footer>