.modal-header {
    background-color: var(--primary-bg-color);
    border: none;
}

.modal-body {
    background-color: var(--primary-bg-color);
    border: none;
    color: white;
}

.modal-footer {
    background-color: var(--primary-bg-color);
    border: none;
}

.modal-title {
    color: #FF0000 !important;
    margin-left: 10px;
}

.primary-button {
    background: var(--secondary-color);
}

.btn {
    border: none;
    border-radius: 5px;
    color: var(--secondary-text-color);
    transition: 0.5s;
    font-weight: 500;
    cursor: pointer;
}

.btn:hover {
    transition: 0.5s;
    background: var(--primary-color);
    border-color: var(--primary-color);
}