.navbar {
    background-color: transparent;
}

.navbar-brand {
    font-family: var(--primary-font);
}

.navbar-brand > img {
    width: 50px;
}

.navbar-toggler > img {
    width: 30px;
}

.nav-link {
    padding: 0;
    font-weight: 500;
}

.link-icon {
    visibility: hidden;
    width: 0px;
    margin: 0 0 0 5px;
}

.active {
    background-color: var(--primary-color);
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.active > img {
    visibility: visible;
    width: 25px;
}

.nav-item {
    cursor: pointer;
}

.navbar-toggler {
    border: none;
    outline-width: 0px;
}

.navbar-toggler:focus {
    outline-width: 0px;
}

.profile-button {
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    border: none;
}

.profile-button:focus {
    outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

.dropdown-menu {
    margin: 50px 0 0 auto;
}

.profile-button > img {
    width: 40px;
    opacity: 0.5; 
    margin-left: 30px;
}

.dropdown-item-ico {
    width: 30px;
    margin-right: 5px;
}