:root {
    --secondary-color: #303943;
    --primary-color: #4475E2;
    --primary-text-color: #4475E2;
    --secondary-text-color: #FFFFFF;
    --primary-bg-color: #121212;
    --secondary-bg-color: #FFFFFF;
    --primary-font: 'Righteous', cursive;
    --secondary-font: 'Roboto', sans-serif;
}

body {
    font-family: var(--secondary-font);
    background-color: var(--primary-bg-color);
}
html, body { height: 100%; }

::-webkit-scrollbar-track {
    background-color: var(--primary-bg-color)
}
::-webkit-scrollbar {
    width: 10px;
    background: var(--primary-bg-color)
}
::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius: 10px;
}