<div *ngIf="!authService.isLoggedIn" class="container-fluid">

    <div class="row justify-content-around align-items-center container-row">

        <div class="col-5 col-resp">

            <h2 class="container-title">NEPTUNE</h2>
            <p class="container-text">Nós da NEPTUNE temos o dever de entregar a vocês as melhores informações sobre tudo o que acontece no espaço! Aqui você tera acesso a notícias, curiosidades, eventos e muitos acontecimentos da comunidade cientifica</p>

            <button type="button" class="btn primary-btn " routerLink="/sign-in">Login</button>
            <button type="button" class="btn secondary-btn " routerLink="/register">Cadastrar</button>

        </div>

        <div class="col-5 d-flex justify-content-center col-resp">
            <img class="neptune-image" src="../../assets/img/neptune.png" alt="Netuno">
        </div>

    </div>

</div>

<div  *ngIf="authService.isLoggedIn" class="container-fluid">

    <div class="row justify-content-center align-items-center">

        <div class="col">


        </div>

    </div>

</div>