.container-fluid {
    padding-top: 6%;
    padding-bottom: 6%;
}

.container-title {
    font-family: var(--primary-font);
    font-size: 300%;
    color: var(--secondary-text-color);
}

.container-text {
    color: var(--secondary-text-color);
    line-height: 40px;
    font-size: 125%;
}

.btn {
    padding: 15px 30px;
    border-radius: 5px; 
    font-weight: 700;
    font-size: 100%;
    color: var(--secondary-text-color);
}

.btn:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.primary-btn {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.secondary-btn {
    background-color: transparent;
    border-color: var(--secondary-bg-color);
    margin-left: 20px;
}

.neptune-image {
    width: 80%;
}

@media only screen and (max-width: 1000px) {

    .neptune-image {
        width: 90%;
        margin-top: 5%;
    }

    .container-row {
        flex-direction: column;
    }

    .col-resp {
        width: 90%;
    }

}

@media only screen and (max-width: 450px) {



}

@media only screen and (max-width: 811px) {

}