<div class="container-fluid">

    <div class="row">

        <div class="col d-flex flex-column">

            <button class="photo-button"><img src="../../assets/img/icons/user.svg" alt="Botão de escolher foto" width="200px"></button>

            <form [formGroup]="form" class="row" novalidate (ngSubmit)="register()">

                <label class="form-label">Nome completo</label>
                <div class="input-group">
                    <span class="input-group-text"><img src="../../assets/img/icons/avatar.svg" alt="User icon" width="25px"></span>
                
                    <input 
                        id="name" 
                        type="text" 
                        class="form-control" 
                        placeholder="Digite seu nome completo aqui..."
                        formControlName="name">
                
                </div>

                <div *ngIf="name.invalid && (name.dirty || name.touched)">
                
                    <small *ngIf="name.errors.maxlength" class="form-text text-danger">O nome pode ter no máximo 120 caracteres.</small>
                    <small *ngIf="name.errors.minlength" class="form-text text-danger">O nome tem que ter no minimo 4 caracteres.</small>
                    <small *ngIf="name.errors.required" class="form-text text-danger">O nome é obrigatório.</small>

                </div>
    
                <label class="form-label">Nick</label>
                <div class="input-group ">
                    <span class="input-group-text"><img src="../../assets/img/icons/nick.svg" alt="User icon" width="25px"></span>
                    <input 
                        type="text" 
                        #nickInput
                        class="form-control" 
                        (blur)="searchNick(nickInput.value)"
                        placeholder="Digite seu nome de usuário aqui..."
                        formControlName="nick">
                </div>

                <div *ngIf="nick.invalid && (nick.dirty || nick.touched)">
                
                    <small *ngIf="nick.errors.maxlength" class="form-text text-danger">O nickname pode ter no máximo 120 caracteres.</small>
                    <small *ngIf="nick.errors.required" class="form-text text-danger">O nickname é obrigatório.</small>
                    <small *ngIf="nick.errors.nickRegistered" class="form-text text-danger">Nickname já registrado.</small>
                    <small *ngIf="nick.errors.minlength" class="form-text text-danger">O nickname precisa ter no minimo 4 caracteres.</small>

                </div>
                <small *ngIf="nick.valid" class="form-text text-success">Nickname válido</small>
    
                <label class="form-label">E-mail</label>
                <div class="input-group ">
                    <span class="input-group-text"><img src="../../assets/img/icons/email.svg" alt="User icon" width="25px"></span>
                    <input 
                        type="text" 
                        class="form-control" 
                        placeholder="Digite seu e-mail aqui..."
                        formControlName="email">
                </div>

                <div *ngIf="email.invalid && (email.dirty || email.touched)">
                
                    <small *ngIf="email.errors.maxlength" class="form-text text-danger">O email pode ter no máximo 120 caracteres.</small>
                    <small *ngIf="email.errors.required" class="form-text text-danger">O email é obrigatório.</small>
                    <small *ngIf="email.errors.pattern" class="form-text text-danger">Digite um e-mail válido.</small>

                </div>
    
                <label class="form-label">Senha</label>
                <div class="input-group ">
                    <span class="input-group-text"><img src="../../assets/img/icons/password.svg" alt="User icon" width="25px"></span>
                    <input 
                        type="password" 
                        class="form-control" 
                        placeholder="Digite sua senha aqui..."
                        formControlName="password">
                </div>

                <div *ngIf="password.invalid && (password.dirty || password.touched)">
                
                    <small *ngIf="password.errors.minlength" class="form-text text-danger">A senha tem que ter no minimo 8 caracteres.</small>
                    <small *ngIf="password.errors.required" class="form-text text-danger">A senha é obrigatória.</small>

                </div>
    
                <label class="form-label">Confirme sua senha</label>
                <div class="input-group ">
                    <span class="input-group-text"><img src="../../assets/img/icons/password.svg" alt="User icon" width="25px"></span>
                    <input 
                        type="password" 
                        class="form-control" 
                        placeholder="Digite sua senha aqui..."
                        formControlName="passwordConference">
                </div>

                <div *ngIf="passwordConference.invalid && (passwordConference.dirty || passwordConference.touched)">
                
                    <small *ngIf="passwordConference.errors.passConference" class="form-text text-danger">As senhas são diferentes.</small>
                    <small *ngIf="passwordConference.errors.required" class="form-text text-danger">Confirmar a sua senha é obrigatório.</small>

                </div>

                <div class="col-6">
                    
                    <label class="form-label">Telefone</label>
                    <div class="input-group ">
                        <span class="input-group-text"><img src="../../assets/img/icons/phone.svg" alt="User icon" width="25px"></span>
                        <input 
                            type="phone" 
                            class="form-control"
                            placeholder="Digite seu número de telefone aqui..."
                            formControlName="phone">
                    </div>

                    <div *ngIf="phone.invalid && (phone.dirty || phone.touched)">
                    
                        <small *ngIf="phone.errors.required" class="form-text text-danger">O telefone é obrigatório.</small>
                        <small *ngIf="phone.errors.pattern" class="form-text text-danger">Digite um telefone válido.</small>
                        <small *ngIf="phone.errors.maxlength && !phone.errors.pattern" class="form-text text-danger">O telefone pode ter no máximo 11 caracteres.</small>
                        <small *ngIf="phone.errors.minlength" class="form-text text-danger">O telefone tem que ter no minimo 11 caracteres.</small>
    
                    </div>

                </div>

                <div class="col-6">
                    
                    <label class="form-label" style="margin-left: 0;">Data de nascimento</label>
                    <div class="input-group ">
                        <input class="form-control" placeholder="yyyy-mm-dd"
                            name="dp" [(ngModel)]="model" 
                            ngbDatepicker #d="ngbDatepicker"
                            formControlName="date">
                        <span class="input-group-text"><img (click)="d.toggle()" src="../../assets/img/icons/date.svg" alt="User icon" width="25px"></span>
                    </div>

                </div>

                <div *ngIf="date.invalid && (date.dirty || date.touched)">
                
                    <small *ngIf="date.errors.required" class="form-text text-danger">A data de nascimento é obrigatória.</small>

                </div>

                <div class="col-4" style="padding-right: 0;">
    
                    <label class="form-label">CEP</label>
                    <div class="input-group ">
                        <span class="input-group-text"><img src="../../assets/img/icons/place.svg" alt="User icon" width="25px"></span>
                        <input 
                            type="text" 
                            class="form-control margin-right" 
                            placeholder="CEP" 
                            formControlName="cep"
                            #CEPInput
                            (input)="searchCEP(CEPInput.value)">
                    </div>

                    <div *ngIf="cep.invalid && (cep.dirty || cep.touched)">
                    
                        <small *ngIf="cep.errors.required" class="form-text text-danger">O CEP é obrigatório.</small>
                        <small *ngIf="cep.errors.cepError" class="form-text text-danger">Digite um CEP válido.</small>
                        <small *ngIf="cep.errors.pattern" class="form-text text-danger">Digite um CEP válido.</small>
                        <small *ngIf="cep.errors.maxlength" class="form-text text-danger">O CEP pode ter no máximo 8 caracteres.</small>
                        <small *ngIf="cep.errors.minlength" class="form-text text-danger">O CEP tem que ter no minimo 8 caracteres.</small>
    
                    </div>

                </div>

                <div class="col-8" style="padding-left: 0;">
    
                    <label class="form-label" style="margin-left: 0;">Rua e Cidade</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        formControlName="address">
                    
                </div>
                
                <div class="col-6 margin-right" style="padding: 0 0 0 70px;">
    
                    <label class="form-label" style="margin-left: 0;">Bairro</label>
                    <input 
                        type="text" 
                        class="form-control"
                        formControlName="neighborhood">
                    
                </div>
                
                <div class="col-3 margin-right" style="padding: 0 0 0 0;">
    
                    <label class="form-label" style="margin-left: 0;">Número</label>
                    <input 
                        type="number" 
                        class="form-control" 
                        formControlName="number">

                    <div *ngIf="number.invalid && (number.dirty || number.touched)">
                        
                        <small *ngIf="number.errors.required" class="form-text text-danger">O número é obrigatório.</small>
                        <small *ngIf="number.errors.pattern" class="form-text text-danger">Digite um número válido.</small>
                        <small *ngIf="number.errors.maxlength" class="form-text text-danger">O número pode ter no máximo 8 caracteres.</small>
        
                    </div>
                    
                </div>
                
                <div class="col" style="padding: 0 0 0 0;">
    
                    <label class="form-label" style="margin-left: 0;">UF</label>
                    <input 
                        type="text" 
                        class="form-control"
                        style="width: 90%;" 
                        formControlName="uf">
                    
                </div>
    
                <div class="col-12">

                    <label class="form-label">Complemento</label>
                    <div class="input-group" style="padding: 0 0 0 55px;">
    
                        <input 
                            type="text" 
                            class="form-control" 
                            placeholder="Digite o complemento aqui..."
                            formControlName="complement">
                    </div>

                    <div *ngIf="complement.invalid && (complement.dirty || complement.touched)">
                    
                        <small *ngIf="complement.errors.maxlength" class="form-text text-danger">O complemento pode ter no máximo 120 caracteres.</small>
    
                    </div>

                </div>

                <div class="row justify-content-end">
                    <button class="secondary-btn form-button" type="reset">Limpar</button>
                    <button class="primary-btn form-button" [disabled]="!form.valid" type="submit" >Enviar</button>
                </div>

            </form>
            
        </div>
       
        <div class="col col-left">

            <h2 class="container-title">CADASTRO</h2>

            <p class="container-paragraph">Faça o seu cadastro para poder ler todas as nossas notícias, favoritas as suas preferidas e ver todo o nosso acervo de informações sobre o espaço e as novas descoberta da ciência.</p>
            
            <div class="row button-row">

                <button class="btn"> <img src="../../assets/img/icons/login.svg" alt="User icon" width="30px"> Login</button>
                
                <div class="button-separator"></div>

                <p class="button-paragraph align-self-center">Faça o login caso já possua sua conta.</p>

            </div>

        </div>

    </div>

</div>